In [1]:
import pandas as pd

In [2]:
kobis = pd.read_csv("./datas/final_movie(raw1).csv")
kobis

,순번,영화명,개봉일,전국,전국.1,전국.2,장르,등급
0,NaN,NaN,NaN,스크린수,매출액,관객수,NaN,NaN
1,1.0,명량,2014-07-30,"1,587","135,748,398,910","17,613,682",사극,15세이상관람가
2,2.0,극한직업,2019-01-23,"1,978","139,647,979,516","16,264,944",코미디,15세이상관람가
3,3.0,신과함께-죄와 벌,2017-12-20,"1,912","115,698,654,137","14,410,754",판타지,12세이상관람가
4,4.0,국제시장,2014-12-17,966,"110,828,014,630","14,245,998",드라마,12세이상관람가
...,...,...,...,...,...,...,...,...
545,1434.0,악녀의 시,2016-02-18,5,"123,000",14,범죄,15세이상관람가
546,1486.0,마음,2016-07-21,1,"12,000",2,드라마,15세이상관람가
547,1671.0,독고다이,2019-06-18,1,"1,000",1,드라마,15세이상관람가
548,2069.0,어쩌다 옥탑방,2019-04-17,1,"1,000",1,SF,15세이상관람가
549,2211.0,이 사랑도 전해질까요,2017-06-21,1,"3,000",1,멜로/로맨스,전체관람가

In [19]:
kobis.rename(columns={"영화명":"Movie", "개봉일":"Open", "전국":"Screen", "전국.1":"Sales", "전국.2":"Audience", "등급":"Rate", "장르":"Genre"}, inplace=True)
kobis.drop(columns=['순번'], index=0, inplace=True)
kobis

,Movie,Open,Screen,Sales,Audience,Genre,Rate
1,명량,2014-07-30,"1,587","135,748,398,910","17,613,682",사극,15세이상관람가
2,극한직업,2019-01-23,"1,978","139,647,979,516","16,264,944",코미디,15세이상관람가
3,신과함께-죄와 벌,2017-12-20,"1,912","115,698,654,137","14,410,754",판타지,12세이상관람가
4,국제시장,2014-12-17,966,"110,828,014,630","14,245,998",드라마,12세이상관람가
5,베테랑,2015-08-05,"1,064","105,024,756,250","13,395,400",액션,15세이상관람가
...,...,...,...,...,...,...,...
545,악녀의 시,2016-02-18,5,"123,000",14,범죄,15세이상관람가
546,마음,2016-07-21,1,"12,000",2,드라마,15세이상관람가
547,독고다이,2019-06-18,1,"1,000",1,드라마,15세이상관람가
548,어쩌다 옥탑방,2019-04-17,1,"1,000",1,SF,15세이상관람가
549,이 사랑도 전해질까요,2017-06-21,1,"3,000",1,멜로/로맨스,전체관람가

In [20]:
kobis["Open"]=pd.to_datetime(kobis["Open"])
kobis['month'] = pd.DatetimeIndex(kobis['Open']).month
kobis['year'] = pd.DatetimeIndex(kobis['Open']).year
kobis.drop(columns=['Open'], inplace=True)
kobis

,Movie,Screen,Sales,Audience,Genre,Rate,month,year
1,명량,"1,587","135,748,398,910","17,613,682",사극,15세이상관람가,7,2014
2,극한직업,"1,978","139,647,979,516","16,264,944",코미디,15세이상관람가,1,2019
3,신과함께-죄와 벌,"1,912","115,698,654,137","14,410,754",판타지,12세이상관람가,12,2017
4,국제시장,966,"110,828,014,630","14,245,998",드라마,12세이상관람가,12,2014
5,베테랑,"1,064","105,024,756,250","13,395,400",액션,15세이상관람가,8,2015
...,...,...,...,...,...,...,...,...
545,악녀의 시,5,"123,000",14,범죄,15세이상관람가,2,2016
546,마음,1,"12,000",2,드라마,15세이상관람가,7,2016
547,독고다이,1,"1,000",1,드라마,15세이상관람가,6,2019
548,어쩌다 옥탑방,1,"1,000",1,SF,15세이상관람가,4,2019
549,이 사랑도 전해질까요,1,"3,000",1,멜로/로맨스,전체관람가,6,2017

In [21]:
kobis.to_csv('./datas/final_movie(Rev1).csv', sep=',', encoding='utf-8')

In [22]:
import seaborn as sns
import matplotlib.pyplot as plt


from matplotlib import font_manager
f_path = "C:\Windows\Fonts\malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()
from matplotlib import rc
rc('font', family='Malgun Gothic')

In [23]:
kobis.groupby('year').size().to_frame()

       0
year
2013  65
2014  68
2015  73
2016  70
2017  66
2018  79
2019  80
2020  48

In [27]:
kobis.groupby('Genre').size().to_frame()

          0
Genre
SF        4
가족        6
공연       18
공포(호러)   19
기타        2
다큐멘터리    15
드라마     118
멜로/로맨스   43
뮤지컬       4
미스터리     27
범죄       54
사극       28
스릴러      36
애니메이션    46
액션       44
어드벤처      2
전쟁        4
코미디      71
판타지       8

In [28]:
kobis.groupby('Rate').size().to_frame()

            0
Rate
12세이상관람가  115
15세이상관람가  253
전체관람가      94
청소년관람불가    87

In [12]:
kobis = pd.read_csv("./datas/final_movie(Rev1).csv", index_col=[0])
kobis

,Movie,Screen,Sales,Audience,Genre,Rate,month,year
1,명량,"1,587","135,748,398,910","17,613,682",사극,15세이상관람가,7,2014
2,극한직업,"1,978","139,647,979,516","16,264,944",코미디,15세이상관람가,1,2019
3,신과함께-죄와 벌,"1,912","115,698,654,137","14,410,754",판타지,12세이상관람가,12,2017
4,국제시장,966,"110,828,014,630","14,245,998",드라마,12세이상관람가,12,2014
5,베테랑,"1,064","105,024,756,250","13,395,400",액션,15세이상관람가,8,2015
...,...,...,...,...,...,...,...,...
545,악녀의 시,5,"123,000",14,범죄,15세이상관람가,2,2016
546,마음,1,"12,000",2,드라마,15세이상관람가,7,2016
547,독고다이,1,"1,000",1,드라마,15세이상관람가,6,2019
548,어쩌다 옥탑방,1,"1,000",1,SF,15세이상관람가,4,2019
549,이 사랑도 전해질까요,1,"3,000",1,멜로/로맨스,전체관람가,6,2017

In [13]:
kobis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 1 to 549
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movie     549 non-null    object
 1   Screen    549 non-null    object
 2   Sales     549 non-null    object
 3   Audience  549 non-null    object
 4   Genre     549 non-null    object
 5   Rate      549 non-null    object
 6   month     549 non-null    int64
 7   year      549 non-null    int64
dtypes: int64(2), object(6)
memory usage: 38.6+ KB

In [17]:
kobis['Audience'] = kobis['Audience'].apply(lambda x: x.replace(",",""))

In [18]:
kobis['Audience'] = kobis['Audience'].astype('int')

In [19]:
kobis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 1 to 549
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movie     549 non-null    object
 1   Screen    549 non-null    object
 2   Sales     549 non-null    object
 3   Audience  549 non-null    int32
 4   Genre     549 non-null    object
 5   Rate      549 non-null    object
 6   month     549 non-null    int64
 7   year      549 non-null    int64
dtypes: int32(1), int64(2), object(5)
memory usage: 36.5+ KB

In [20]:
kobis['Sales'] = kobis['Sales'].apply(lambda x: x.replace(",",""))

In [22]:
import sys
import csv
maxparse = sys.maxsize
while True:
    try:
        csv.field_size_limit(maxparse)
        break
    except OverflowError:
        maxparse = int(maxparse/10)

In [34]:
kobis['Sales'] = kobis['Sales'].astype('int64')

In [32]:
kobis['Screen'] = kobis['Screen'].apply(lambda x: x.replace(",",""))
kobis['Screen'] = kobis['Screen'].astype('int')

In [33]:
kobis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 1 to 549
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movie     549 non-null    object
 1   Screen    549 non-null    int32
 2   Sales     549 non-null    int64
 3   Audience  549 non-null    int32
 4   Genre     549 non-null    object
 5   Rate      549 non-null    object
 6   month     549 non-null    int64
 7   year      549 non-null    int64
dtypes: int32(2), int64(3), object(3)
memory usage: 34.3+ KB

In [35]:
kobis.to_csv('./datas/final_movie(Rev1).csv', sep=',', encoding='utf-8')